<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Authors</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>

<h1>authors</h1>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>DETAILS</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.firstName}"></td>
        <td th:text="${author.lastName}"></td>
        <td><a th:href="'/author/'+${author.identifier}" class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">zoom_in</i></a></td>
    </tr>
    </tbody>
</table>

<button class="mdl-button mdl-js-button mdl-button--fab">
    <i class="material-icons">add</i>
</button>
</body>
</html>