<!DOCTYPE html>

<html th:replace="~{layout.html :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Authors</title>
</head>

<body>
<section>
    <h4>authors</h4>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col">
            <form action="#" th:action="@{/authors}" th:object="${authorSearch}" method="post">
                <div class="mdl-textfield mdl-js-textfield">
                    <input th:field="*{searchTerm}" class="mdl-textfield__input" type="text" required>
                    <label class="mdl-textfield__label" for="searchTerm">First name</label>
                </div>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                    <i class="material-icons">search</i>
                </button>
            </form>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <a id="author-creation" href="/author-creation"
               class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                <i class="material-icons">add</i>
                <div class="mdl-tooltip" data-mdl-for="author-creation">
                    Add a new author
                </div>
            </a>
        </div>
    </div>

    <table th:if="${authors != null}" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.firstName}"></td>
            <td th:text="${author.lastName}"></td>
            <td>
                <a th:href="'/author/'+${author.identifier}" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">zoom_in</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</section>
</body>
</html>