<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library</title>
    <!--    <link rel="stylesheet" th:href="@{/webjars/todomvc-common/base.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/webjars/todomvc-app-css/index.css}">-->
</head>
<body>
<span th:text="#{welcome.message}"/>
<a href="/authors">Authors!</a>
</body>